RewriteEngine On 

RewriteRule ^robots.txt - [L]

ErrorDocument 404 /index.php?page_name=error-404

# RewriteRule ^/?$ /maintenance.php [L]

RewriteRule ^signin.php$ /account/sign-in [L]
RewriteRule ^newplanner(.*)?$ /account/sign-in [L]
RewriteRule ^bookings/csv$ /lib/csv.php [L]
RewriteRule ^/?$ /index.php?region=leeds&page_name=home [L]
RewriteRule ^facebook/auth$ /lib/auth/facebook/auth.php [L]
RewriteRule ^facebook/callback$ /lib/auth/facebook/callback.php [L]
RewriteRule ^google/callback$ /lib/auth/google/callback.php [L,QSA]
RewriteRule ^spotify/auth$ /lib/auth/spotify/auth.php [L]
RewriteRule ^spotify/callback$ /lib/auth/spotify/callback.php [L]
RewriteRule ^spotify/revoke$ /lib/auth/spotify/revoke.php [L]
RewriteRule ^auth/revoke$ /lib/auth/revoke.php [L]
RewriteRule ^auth/(.*)?$ /lib/auth/default/$1.php [L]
RewriteRule ^planner$ /index.php?auth=user&region=leeds&page_name=planner [L,QSA]
RewriteRule ^planner/about$ /index.php?region=leeds&page_name=planner/about [L,QSA]
RewriteRule ^planner/(.*)?$ /index.php?auth=user&region=leeds&page_name=planner/$1 [L,QSA]
RewriteRule ^account$ /index.php?auth=user&region=leeds&page_name=account [L,QSA]
RewriteRule ^account/(.*)?$ /index.php?region=leeds&page_name=account/$1 [L,QSA]
RewriteRule ^admin/create/(.*)?$ /index.php?auth=admin&region=leeds&page_name=admin/create/$1&booking_type=$1 [L,QSA]
RewriteRule ^admin/(.*)?$ /index.php?auth=admin&region=leeds&page_name=admin/$1 [L,QSA]
RewriteRule ^actions/(.*?)/?$ /lib/actions/$1.php [L]
RewriteRule ^(cookies|privacy|djs|music|bar-and-corporate|contact|weddings|admin|templates+?)/?$ /index.php?region=leeds&page_name=$1 [L,QSA]
RewriteRule ^(sheffield-derbyshire|manchester-cheshire|liverpool-lancashire|newcastle-north-east|edinburgh-scotland?)/?$ /index.php?region=$1&page_name=home [L]
RewriteRule ^(.*?)/(djs|music|bar-and-corporate|contact|weddings+?)/?$ /index.php?region=$1&page_name=$2 [L]

# One year for image files
<filesMatch ".(jpg|jpeg|png|gif|ico|svg)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>
# One month for css and js
<filesMatch ".(css|js)$">
Header set Cache-Control "max-age=2628000, public"
</filesMatch>
