body {
  background: rgb(244,244,244);
  background: radial-gradient(circle, rgba(244,244,244,1) 0%, rgba(244,244,244,1) 14%, rgba(239,242,235,1) 100%);
}

main {
  min-height: 100vh;
  padding-top: 6em;
}

.cookies-banner {
  position: sticky;
  bottom: 0;
  width: 100%;
  background-color: lightgray;
  z-index: 500;
  padding-top: 12px;
  color: #212529;
}

@media only screen and (min-width: 900px) {
  .cookies-banner {
    bottom: 80px;
  }
}

h1 {
  padding-top: 1rem;
  margin-bottom: 15px;
}

.initialism {
  font-size: .9em;
}

dl {
  margin-bottom: 0;
}

dt, dd {
  display: inline;
  font-size: .9em;
}

dt {
  margin-right: 0.2em;
}

.text-bold {
  font-weight: bold;
}

.palette-light-shade {
  color: #EFF2EB;
}

.palette-light-accent, a, .nav-link {
  color: #897C84;
}

main a:hover, .nav-tabs .nav-link:hover {
  color: #897C84;
  text-decoration: underline;
}

.palette-main-brand {
  color: #FDEF58;
}

.palette-dark-accent {
  color: #7F8089;
}

.palette-dark-shade, h1, h2, h3 {
  color: #684153;
}

.content-section {
  margin: 0.4em 0 1.8em;
}

.content-section p {
  margin-left: 0.2em;
}

.divider::after {
  content: '';
  border-bottom: 1px solid rgba(0,0,0,.125);
  width: 60%;
  margin: 1em auto 2em;
  display: block;
}

.field-empty {
  color: #897C84;
  font-style: italic;
}

.event-passed {
  color: #897C84;
}

.back-link {
  margin-bottom: 20px;
}

.back-link a {
  text-decoration: none;
  font-size: 0.85rem;
  cursor: pointer;
  padding-left: 22px;
  background: no-repeat left url('/assets/images/icons/back-arrow.svg');
}

.back-link a:hover {
  text-decoration: underline;
  color: #897C84;
}

.content-section h4  {
  margin-top: 20px;
}

.content-section .no-results h3 {
  text-align: center;
}

.content-section-link {
  text-align: center;
}

.content-section-link p {
  margin: 0;
}

.content-center {
  text-align: center;
}

.card-full-width {
  display: block;
  padding: 1em;
}

.card {
  margin-bottom: 20px;
}

.event h3 {
  font-size: 1.4em;
}

.admin,
.filter-panel,
.admin .card-body,
.admin .card-footer,
input.form-control,
.admin-form select.form-select,
.admin-form .input-group-text,
.admin-form textarea.form-control,
.auth-form {
  font-size: 0.9em;
}

.filter-panel .filter-control--inactive {
  color: #6c757d;
}

.filter-panel .filter-control--active {
  background-color: #e9ecef;
  border-color: #198754;
}

.admin .card:hover {
  border: 1px solid #198754;
}

.admin .card-header {
  font-size: 1rem;
}

.admin .card-header dt {
  text-transform: capitalize;
}

.admin .card-body {
  background-color: #efefef;
  padding: 0.5rem 1rem;
}

.admin .card-footer {
  margin-top: -1px;
  background-color: #ffffff;
}

.bg-pill {
  background-color: #7F8089;
  font-weight: normal;
  line-height:2em;
  padding: 4px 8px;
}

.card .caption {
  font-style: italic;
}

.card .caption::before,
.card .caption::after {
  content: '"';
}

.card .label {
  color: #897C84;
}

.card dt, .card dd {
  display: inline-block;
}

.toggle-content {
  display: block;
  padding: 0.5em 1em;
  background-color: #f8f9fa;
}

.toggle-content .container {
  padding: 1em;
}

.toggle-content--hidden {
  display: none;
}

.was-validated .form-control:invalid + .form-text {
  display: none;
}

form {
  margin-bottom: 0;
}

form label, form .label-info, .form-info {
  color: #6c757d;
}

form .form-radio {
  margin: 0.4em;
}

form .form-radio label {
  color: #212529;
}

.form-optional {
  font-size: 0.8em;
  color: #999999;
}

.list-group-item span {
  width: 40%;
  display: inline-block;
}

.planner-checkbox-list .col {
  border-bottom: 1px solid #efefef;
}

.planner-checkbox-list .favourite input[checked] {
  background-color: #bbbbbb;
  border: 1px solid #999999;
}

.form-check {
  margin-top: .25rem;
}

.dj-carousel {
  font-family: 'Open Sans', 'Tahoma';
  position: relative;
}

.dj-carousel .logo {
  position: absolute;
  bottom: 20px;
}

.image-left .logo {
  right: 20px;
}

.image-right .logo {
  left: 20px;
}

.image-left .profile-photo, .image-right .profile-text {
  order: 1;
}

.image-right .profile-photo, .image-left .profile-text {
  order: 2;
}

.initial .profile-photo {
  width: 1px;
}

.initial .gradient {
  background-image: linear-gradient(to bottom left, #FFFFFF, #FFFFFF);
}

.gradient {
  padding: 20px;
  display: flex;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
}

.image-left .gradient {
  background-image: linear-gradient(to right, #FFFFFF, #FFFFFF);
}

.image-right .gradient {
  background-image: linear-gradient(to left, #FFFFFF, #FFFFFF);
}

.carousel-text {
  display: block;
  text-align: center;
}

.carousel-image {
  display: block;
  text-align: center;
}

.profile-photo {
  border: 0px solid #CCCCCC;
}

.initial .profile-photo {
  border: none;
}

.profile-text {
  text-align: center;
  margin: 10px auto;
  flex-basis: auto;
}

.profile-text h4 {
  color: #555555;
  margin: 0;
  font-size: 2rem;
}

.profile-text p {
  width: 85%;
  margin: 5px auto 0;
  font-size: 1.2rem;
}

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1212529;
}

.navigation-container {
  position: relative;
}

.notifications {
  animation: fadeOut 0.5s forwards;
  animation-delay: 5s;
  list-style-type: none;
  margin-top: -10px;
  padding: 0;
  z-index: 500;
}

@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}


.notification {
  font-size: 0.8rem;
  padding: 4px 0;
  text-align: center;
  margin-bottom: 0;
}

.error {
  background-color: #FDEF58;
}

.message {
  background-color: #C5DCA0;
}

.navbar {
  min-height: 84px;
  padding: 0.5rem 1rem;
}

.navbar-nav li a,
.navbar-nav li button {
  font-size: 0.75em;
}

.navbar .navbar-nav .active .nav-link {
  color: #FDEF58;
}

.navbar-collapse {
  flex-basis: 100%;
  flex-grow: unset;
  align-items: flex-end;
}

.navbar-brand  {
  display: inline;
  font-family: 'Lekton';
  font-size: 1.8em;
  margin-left: 5px;
  padding-bottom: 0;
  vertical-align: middle;
}

.authenticated-status {
  color: #CCCCCC;
  font-size: 0.8em;
  margin-left: 58px;
  margin-top: -5px;
}

@media only screen and (max-width: 480px) {
  .container-fluid {
    padding: 0;
  }

  .navbar-brand {
    font-size: 1.4rem;
  }

  .navbar-brand img {
    width: 32px;
    height: 32px;
  }

  .authenticated-status {
    margin-left: 46px;
  }
}

.navbar-brand img {
  margin-right: 10px;
  vertical-align: top;
}

.navbar-button {
  border: none;
  background-color: transparent;
  color: rgba(255,255,255,.55);
}

.header-fade {
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    #212529,
    rgba(255, 0, 0, 0)
  );
}

.authenticated-signout {
  color: #CCCCCC;
  font-size: 0.8em;
}

.authenticated-show {
  display: block;
}

.authenticated-hide {
  display: none;
}

.facebook-button {
  background-color: #4267b2;
  color: #ffffff;
}

.content-border__container {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  background-color: #FEFEFE;
  padding: 1em;
  margin: 1em 0;
}

.content-tabs__container {
  border: 1px solid rgba(0,0,0,.125);
  border-top: none;
  background-color: #FEFEFE;
  padding: 1.5em;
}

.content-tabs__container .row {
  align-items: center;
}

.content-list__container {
  overflow: scroll;
  height: 300px;
}

.content-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content-list li {
  padding: 5px 0;
  color: #7F8089;
  font-size: 0.9em;
}

.footer-enquiries {
  width: 100%;
  color: #CCCCCC;
  line-height: 1.8em;
}

.footer-enquiries a {
  color: #CCCCCC;
}

.footer-links {
  list-style-type: none;
  display: flex;
  align-self: center;
  margin-bottom: 0;
}

.footer-links li {
  flex-grow: 1;
  align-self: center;
  line-height: 2em;
  background-position: left 0px top 0px;
  text-align: center;
}

.footer-links.social {
  order: 2;
}

.footer-links.region {
  padding: 0;
}

.footer-links.social li {
  margin: 0 0.5em;
}

.footer-links li a {
  display: inline-block;
  text-align: center;
}

.footer-links li a span {
  display: block;
  line-height: 1em;
}

.footer-fade {
  height: 4px;
  width: 100%;
  background: linear-gradient(
    to top,
    #212529,
    rgba(255, 0, 0, 0)
  );
}

.footer-content {
  padding: 16px 20px;
  display: flex;
}

.spotify {
  background-color: #1db954;
  color: #ffffff;
}

.spotify:hover {
  color: #dddddd;
}

.spotify img {
  margin-right: 10px;
}

.social-background {
  color: #ffffff;
}

footer {
  color: #FFFFFF;
  font-size: 0.8em;
}

@media only screen and (min-width: 900px) {
  footer {
    position: sticky;
    bottom: 0; 
  }
}

footer span {
  margin: 0;
  color: #CCCCCC;
  display: block;
}

.footer-enquiries {
  order: 1;
}

.my-gallery {
  width: 100%;
  float: left;
}

.my-gallery img {
  width: 100%;
  height: auto;
}

.my-gallery figure {
  display: block;
  float: left;
  margin: 0 5px 5px 0;
  width: 150px;
}

.my-gallery figcaption {
  display: none;
}

#event-playlist {
  display: none;
}



@media only screen and (max-width: 768px) {

  .profile-text h3 {
    font-size: 1.8rem;
  }

  .profile-text p {
    font-size: 1rem;
  }

  .profile-photo img {
    height: 150px;
    width: 100px;
  }

  .footer-links li {
    margin: 10px 0;
    align-self: auto;
    background-position: center;
    padding-left: 0;
  }

  .footer-links {
    margin: 0 auto;
    padding: 0;
    justify-content: center;
  }

  footer .copyright {
    margin: 10px 0 0 0;
    color: #CCCCCC;
    align-self: auto;
  }

  .footer-enquiries {
    order: 2;
  }

  .footer-content {
    flex-direction: column;
  }

  .footer-links.social {
    order: 1;
    margin-bottom: 1.4em;
  }

  .footer-links.region {
    flex-wrap: wrap;
  }

  .footer-links.region li {
    flex-basis: 33%;
  }
}

.authentication-form {
  width:500px;
  margin:4vh auto;
  background-color:#f3f3f3;
  box-shadow: 0 10px 15px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.authentication-form form {
  width: 100%;
  max-width: 500px;
  padding: 15px;
  margin: auto;
  background-color: #ffffff;
  border-radius: 5px;
}

.authentication-form .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}

.authentication-form .social-login{
  margin-bottom: 14px;
}

.authentication-form .social-btn{
  color:#EFF2EB;
  width:100%;
}

.authentication-form a{
  display: block;
}

.authentication-form button[type="submit"] {
  margin-top:10px;
}

.authentication-logo {
  margin-left: 4px;
  color: #fff;
  padding: 4px;
  border-radius: 50%;
}

.facebook-btn {
  background-color:#3C589C;
}

.google-btn {
  background-color: #DF4B3B;
}

@media screen and (max-width:500px){
  .authentication-form{
      width:300px;
  }
  
  .authentication-form .social-login{
      width:100%;
      margin-bottom: 10px;
  }
}

.pagination .page-link {
  color: #212529;
}

.pagination .page-item.disabled .page-link {
  color: #aaa;
}

.pagination .page-item.active .page-link {
  z-index: 0;
  color: #fff;
  background-color: #897C84;
  border-color: #897C84;
}